.icon {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;

    background-color: white;
    background-size: cover;

    border: solid 3px white;
    box-shadow: 0px 0px 5px rgba(0, 0, 30, 0.25);
}

.square {
    border-radius: 3px;
}

.circle {
    border-radius: 50%;
}
